body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.factory-viewport {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #365ada;
    opacity: 1;
    background-image: linear-gradient(#c8d2ee 3px, transparent 3px), linear-gradient(90deg, #c8d2ee 3px, transparent 3px), linear-gradient(#7490ec 2px, transparent 2px), linear-gradient(90deg, #7490ec 2px, transparent 2px);
    background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    background-position: -1px -1px, -1px -1px, -0.5px -0.5px, -0.5px -0.5px;
}

.factory-canvas {
    position: relative;
    width: 0px;
    height: 0px;
}

.factory-node {
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

.factory-flow {
    position: absolute;
    outline: 1px solid black;
}

.factory-node-selected {
    outline: 3px solid lightgray;
}

.factory-node:hover {
    outline: 3px solid white;
}

.factory-node-header {
    cursor: grab;
    width: 100%;
    height: 20px;
    background-color: #323232;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #323232 10px, #323232 20px);
    border-bottom: 3px solid #323232;
}

.factory-node-content {
    padding: 10px;
    background: #323232;
    color: white;
}

.factory-machine .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #d38208;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #d38208 10px, #d38208 20px);
    border-bottom: 3px solid #d38208;
}

.factory-composite .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #cdd308;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #cdd308 10px, #cdd308 20px);
    border-bottom: 3px solid #cdd308;
}

.factory-source .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #48d308;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #48d308 10px, #48d308 20px);
    border-bottom: 3px solid #48d308;
}

.factory-sink .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #d32008;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #d32008 10px, #d32008 20px);
    border-bottom: 3px solid #d32008;
}

.factory-hub .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #08d3d3;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #08d3d3 10px, #08d3d3 20px);
    border-bottom: 3px solid #08d3d3;
}

.factory-composite-name {
    color: white;
    width: 100px;
    background: none;
    border: none;
}

.factory-tab-container {
    width: 100vw;
    height: 100vh;
}

.factory-tab {
    display: flex;
}

.factory-tab-context {
    flex: 1 0 auto;
    height: 100%;
}

.factory-tab-sidebar {
    width: 200px;
    height: 100%;
    overflow-y: scroll;
}