:root {
    --main-bg: #000000;
    --main-input: #2e2e2e;
    --main-hover: #535353;
    --main-focus: #70d9e7;
    --main-text: #ffffff;
    --main-border-1: #808080;
    --main-border-2: #d0d0d0;
}

* {
    color: var(--main-text);
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, Sans-Serif;
}

button,
input,
textarea,
select {
    border: none;
    background-color: var(--main-input);
    padding: 4px;
    border: 2px solid;
    border-color: var(--main-border-2) var(--main-border-1) var(--main-border-1) var(--main-border-2);
}

button:hover,
input:hover,
textarea:hover,
select:hover {
    background-color: var(--main-hover);
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    background-color: var(--main-hover);
    border-color: var(--main-focus);
    outline: none;
}

table,
tr,
td {
    padding: 0;
    margin: 0;
}

.factory-root {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.factory-current {
    display: flex;
    flex: 1;
}

.factory-viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    background-image: linear-gradient(#404040 3px, transparent 3px), linear-gradient(90deg, #404040 3px, transparent 3px), linear-gradient(#202020 2px, transparent 2px), linear-gradient(90deg, #202020 2px, transparent 2px);
    background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    background-position: -1px -1px, -1px -1px, -0.5px -0.5px, -0.5px -0.5px;
}

.factory-canvas {
    position: relative;
    width: 0px;
    height: 0px;
}

.factory-node {
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

.factory-flow-line {
    position: absolute;
    padding-top: 3px;
    border-top: 2px solid #ffffff;
    pointer-events: none;
}

.factory-flow:hover .factory-flow-line {
    border-top: 2px solid #08d3d3;
}

.factory-flow-selected-i .factory-flow-line {
    position: absolute;
    border-top: 2px solid #a8ffa0;
}

.factory-flow-selected-o .factory-flow-line {
    position: absolute;
    border-top: 2px solid #ffa0a0;
}

.factory-flow-selected-i.factory-flow-selected-o .factory-flow-line {
    position: absolute;
    border-top: 2px solid #f1ffa0;
}

.factory-flow-text {
    pointer-events: auto;
    position: absolute;
    text-align: center;
}

.factory-flow-text-row {
    pointer-events: auto;
    white-space: nowrap;
}

.factory-node-selected {
    outline: 3px solid lightgray;
}

.factory-node:hover {
    outline: 3px solid white;
}

.factory-node-header {
    cursor: grab;
    width: 100%;
    height: 20px;
    background-color: #323232;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #323232 10px, #323232 20px);
    border-bottom: 3px solid #323232;
}

.factory-node-content {
    padding: 10px;
    background: #323232;
}

.factory-machine .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #d38208;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #d38208 10px, #d38208 20px);
    border-bottom: 3px solid #d38208;
}

.factory-composite .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #cdd308;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #cdd308 10px, #cdd308 20px);
    border-bottom: 3px solid #cdd308;
}

.factory-source .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #48d308;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #48d308 10px, #48d308 20px);
    border-bottom: 3px solid #48d308;
}

.factory-sink .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #d32008;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #d32008 10px, #d32008 20px);
    border-bottom: 3px solid #d32008;
}

.factory-hub .factory-node-header {
    width: 100%;
    height: 20px;
    background-color: #08d3d3;
    opacity: 1;
    background: repeating-linear-gradient( 135deg, #323232, #323232 10px, #08d3d3 10px, #08d3d3 20px);
    border-bottom: 3px solid #08d3d3;
}

.factory-composite-name {
    width: 100px;
    background: none;
    border: none;
}

.factory-tab-container {
    width: 100vw;
    height: 100vh;
}

.factory-tab {
    display: flex;
    flex: 1;
    flex-flow: column;
}

.factory-tab-main {
    flex-flow: row;
    position: relative;
    flex: 1;
}

.factory-tab-context {
    flex: 1 0 auto;
    height: 100%;
}

.factory-tab-sidebar-container {
    position: absolute;
    top: 16px;
    right: 16px;
}

.factory-tab-sidebar {
    width: 300px;
    max-height: calc(100vh - 140px);
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
    background: rgba(0.2, 0.2, 0.2, 0.5);
    border: 2px solid white;
    border-radius: 16px;
}

.factory-tab-sidebar-content * {}

.factory-context-button {
    /*background-color: #2e2e2e;*/
}

.factory-context-button:hover {
    /*background-color: #535353;*/
}

.factory-context-menu * {}

.factory-context-menu {
    position: absolute;
    background: rgba(0.2, 0.2, 0.2, 0.5);
    border: 1px solid white;
    border-radius: 0px 8px 8px 8px;
    padding: 8px;
}

.factory-context-row {
    padding: 2px;
}

.factory-sidebar-io {
    padding-top: 8px;
}

.factory-sidebar-io-flows {
    padding-left: 8px;
    width: 100%;
}

.factory-sidebar-io-resource-cnt {
    margin-bottom: 8px;
}

.factory-sidebar-io-header {
    margin-bottom: 8px;
    border-bottom: 1px solid;
}

.factory-sidebar-io-splitter-selected {
    color: rgb(0, 255, 0);
}

.factory-sidebar-header {
    text-align: center;
    font-size: 1.2em;
}

.factory-sidebar-io-resource-hub {
    float: right;
}

.factory-sidebar-io-cell:nth-child(1) {
    width: 100%;
}

.factory-sidebar-io-splitter {
    width: 24px;
    height: 24px;
    border: none;
}

.factory-ribbon {
    padding-top: 8px;
    padding-left: 50px;
    background: orange;
    display: flex;
    flex-flow: row;
    border-bottom: 4px solid darkorange;
}

.factory-ribbon-button.factory-ribbon-selected {
    background: darkorange;
}

.factory-ribbon-button {
    padding-top: 8px;
    padding: 8px 20px 8px 20px;
    margin-right: 4px;
    color: black;
}

.factory-ribbon-button:hover {
    background: #ffff80;
}

.factory-tab-header {
    background: darkorange;
    padding: 8px;
}

.factory-sidebar-entry {
    margin-top: 16px;
}

.factory-popup {
    position: absolute;
    width: 100%;
    height: 100%;
}

.factory-popup-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}

.factory-popup-main {
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background: black;
    opacity: 1;
    border: 2px solid white;
    border-radius: 16px;
    border-top-right-radius: 0px;
    overflow: auto;
    padding: 16px;
    padding-top: 32px;
    box-sizing: border-box;
    margin: 50px;
}

.factory-popup-main * {}

.factory-popup-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    background: none;
    border: none
}

.factory-popup-close:hover {
    background: rgba(255, 255, 255, 0.5);
}

.factory-textbox {}

.factory-textbox:hover {}

.factory-solver {
    display: flex;
    flex-wrap: wrap;
}

.factory-solver>div {
    flex: 1 0;
    min-width: 300px;
    max-width: 400px;
    padding: 8px;
    margin-bottom: 30px;
}

.factory-solver-io {
    flex-direction: column;
    display: flex;
}

.factory-solver-io-input {
    width: 50px;
}

.factory-solver-title {
    text-align: center;
    font-size: 1.2em;
}

.factory-node-inactive {
    filter: grayscale(50%) brightness(50%);
}

.factory-flow-inactive {
    filter: grayscale(50%) brightness(50%);
}

.factory-solver-io-search {
    display: flex;
    border: 2px solid;
    border-color: var(--main-border-2) var(--main-border-1) var(--main-border-1) var(--main-border-2);
}

.factory-solver-io-search:focus-within {
    border-color: var(--main-focus);
}

.factory-solver-io-search * {
    border: none;
}

.factory-solver-io-search>.dropdown-main {
    flex: 1;
}

.dropdown-list {
    width: 100%;
}

.dropdown-selected {
    width: 100%;
    border-spacing: 0px 0px;
}

.dropdown-entry {
    width: 100%;
}

.dropdown-search {
    width: 100%;
}

.dropdown-entry:hover {
    background: #303030;
}

.dropdown-list-host-inner {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    background: #202020;
    border-spacing: 0px 2px;
}

.dropdown-list-host {
    position: relative;
    width: 100%;
}

.factory-solver-io-search .dropdown-toprow {
    height: 32px;
}

.factory-solver-search-button {
    width: 32px;
    height: 32px;
}